// ●------Reset----●
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
// ●------Reset----●

//------------Variables------------
@import "Vars";
//------------Variables------------

.Container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
    " Container__row1"
    " Container__Content"
    " Container__row2";
    grid-template-rows: 80px 1659px 80px; 

    .Container__row1{
        grid-area: Container__row1;
        background-image: linear-gradient(to right, rgb(33, 110, 226) 20%, rgb(68, 177, 240));

        .row1__LogoHeader{
            height: 75px;
            width: 300px;
            background-image: url("../IMG/LogoHeader.png");
            position: relative;
            left: 10px;
            top: 2px;
        }
    }

    .Container__Content{
        grid-area: Container__Content;
        display: grid;
        grid-template-areas: 
        " Content__space1 Content__space1"
        " Content__rowProducts1 Content__rowProducts1"
        " Content__space2 Content__space2"
        " Content__rowProducts2 Content__rowProducts2"
        " Content__space3 Content__space3"
        " Content__rowProducts3 Content__rowProducts3"
        " Content__space4 Content__space4"
        " Content__rowShoppingCart Content__rowShoppingCart";
        grid-template-rows: 52px 316px 52px 317px 52px 317px 30px 525px;  


    //=========== Space1 and rowProducts1 ===========
        .Content__space1{
            grid-area: Content__space1;
            background-color: map-get($Spaces, ColorSpace);

            .TitleProducts{
                @include TitleProducts;
            }
        }

        .Content__rowProducts1{
            grid-area: Content__rowProducts1;
            background-color: map-get($Spaces, ColorRowProducts);
            overflow-x: scroll;
            overflow-y: hidden;

            

            .SectionScroll-1{
                @include SectionScroll;

                //--------- 𝐂𝐚𝐫𝐝 ---------
                .rowProducts1__card{
                    @include cards1;

                    //======= IMGCards =======
                    .IMGCard1{
                        background-image: url("../IMG/IMG_Celulares/iPhone_3\ [0].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2{
                        background-image: url("../IMG/IMG_Celulares/Samsung_Galaxy_A12\ [1].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3{
                        background-image: url("../IMG/IMG_Celulares/Samsung_Galaxy_5G\ [2].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard4{
                        background-image: url("../IMG/IMG_Celulares/POCO_X3_PRO\ [3].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard5{
                        background-image: url("../IMG/IMG_Celulares/Redmi_Note_10\ [4].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard6{
                        background-image: url("../IMG/IMG_Celulares/OnePlus\ Nord\ 2_5G\ [5].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard7{
                        background-image: url("../IMG/IMG_Celulares/Moto_G_Power\ [6].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard8{
                        background-image: url("../IMG/IMG_Celulares/Google_Pixel_5\ [7].png");
                        @include Bg;
                        @include IMGCard;
                    }
                    //======= IMGCards =======

                    .TextCard{
                        @include TextCard;
                    }

                    .TextPrice{
                        @include TextPrice;
                    }

                    .RowFlex{
                        @include RowFlex;

                        .ButtonPay{
                            @include ButtonPay;

                            .TextButton{
                                @include TextButton;
                            }
                        }
                    }
                }
                //--------- 𝐂𝐚𝐫𝐝 ---------
            }
        }
    //=========== Space1 and rowProducts1 ===========


    //=========== Space2 and rowProducts2 ===========
        .Content__space2{
            grid-area: Content__space2;
            background-color: map-get($Spaces, ColorSpace);

            .TitleProducts{
                @include TitleProducts;
            }
        }

        .Content__rowProducts2{
            grid-area: Content__rowProducts2;
            background-color: map-get($Spaces, ColorRowProducts);
            overflow-x: scroll;
            overflow-y: hidden;

            .SectionScroll-2{
                @include SectionScroll;

                //--------- 𝐂𝐚𝐫𝐝 2 ---------
                .rowProducts2__card{
                    @include cards1;

                    //======= IMGCards =======
                    .IMGCard2--1{
                        background-image: url("../IMG/IMG_Tablets/Smart_Kassel_SK3401_7\ [0].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--2{
                        background-image: url("../IMG/IMG_Tablets/Lenovo_M10\ [1].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--3{
                        background-image: url("../IMG/IMG_Tablets/iPad_Pro_2gen_A1701\ [2].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--4{
                        background-image: url("../IMG/IMG_Tablets/Samsung\ Note\ 10.1\ [3].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--5{
                        background-image: url("../IMG/IMG_Tablets/Samsung_Galaxy_TabS7\ [4].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--6{
                        background-image: url("../IMG/IMG_Tablets/XPLODE_Tablet\ XP-1_10.1\ [5].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--7{
                        background-image: url("../IMG/IMG_Tablets/Philco_TP7A6_7\ [6].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard2--8{
                        background-image: url("../IMG/IMG_Tablets/Alcatel_1T\ [7].png");
                        @include Bg;
                        @include IMGCard;
                    }
                    //======= IMGCards =======

                    .TextCard{
                        @include TextCard;
                    }

                    .TextPrice{
                        @include TextPrice;
                    }

                    .RowFlex{
                        @include RowFlex;

                        .ButtonPay{
                            @include ButtonPay;

                            .TextButton{
                                @include TextButton;
                            }
                        }
                    }
                }
                //--------- 𝐂𝐚𝐫𝐝 2 ---------
            }
        }
    //=========== Space2 and rowProducts2 ===========


    //=========== Space3 and rowProducts3 ===========
        .Content__space3{
            grid-area: Content__space3;
            background-color: map-get($Spaces, ColorSpace);

            .TitleProducts{
                @include TitleProducts;
            }
        }

        .Content__rowProducts3{
            grid-area: Content__rowProducts3;
            background-color: map-get($Spaces, ColorRowProducts);
            overflow-x: scroll;
            overflow-y: hidden;

            .SectionScroll-3{
                @include SectionScroll;

                //--------- 𝐂𝐚𝐫𝐝 3 ---------
                .rowProducts3__card{
                    @include cards1;

                    //======= IMGCards =======
                    .IMGCard3--1{
                        background-image: url("../IMG/IMG_OtrosArt/Xiaomi_Redmi_AirDots_3\ [0].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--2{
                        background-image: url("../IMG/IMG_OtrosArt/Logitech_H390\ [1].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--3{
                        background-image: url("../IMG/IMG_OtrosArt/HyperX_Cloud_II\ [2].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--4{
                        background-image: url("../IMG/IMG_OtrosArt/Aro_De_Luz_Led\ [3].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--5{
                        background-image: url("../IMG/IMG_OtrosArt/Joystick_Para_Ps4\ [4].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--6{
                        background-image: url("../IMG/IMG_OtrosArt/Cornetas_Db200\ [5].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--7{
                        background-image: url("../IMG/IMG_OtrosArt/Xiaomi_Redmi_Watch\ [6].png");
                        @include Bg;
                        @include IMGCard;
                    }

                    .IMGCard3--8{
                        background-image: url("../IMG/IMG_OtrosArt/Samsung_Watch_Fit2\ [7].png");
                        @include Bg;
                        @include IMGCard;
                    }
                    //======= IMGCards =======

                    .TextCard{
                        @include TextCard;
                    }

                    .TextPrice{
                        @include TextPrice;
                    }

                    .RowFlex{
                        @include RowFlex;

                        .ButtonPay{
                            @include ButtonPay;

                            .TextButton{
                                @include TextButton;
                            }
                        }
                    }
                }
                //--------- 𝐂𝐚𝐫𝐝 2 ---------
            }
        }
    //=========== Space3 and rowProducts3 ===========


    //=========== 𝐒𝐡𝐨𝐩𝐩𝐢𝐧𝐠𝐂𝐚𝐫𝐭 ===========
        .Content__space4{
            grid-area: Content__space4;
            background-color: map-get($Spaces, ColorSpace4);
        }

        .Content__rowShoppingCart{
            grid-area: Content__rowShoppingCart;
            background-color: map-get($Spaces, ColorRowShoppingCart);
            overflow-x: hidden;
            overflow-y: hidden;

            //============ ContentFlex ============
            .rowShoppingCart__ContentFlex{
                display: flex;
                justify-content: center;

                .ContentFlex__SectionShoppingCart{
                    height: 90px;
                    width: 1300px;
                    border-radius: 15px;
                    border: 4px solid rgb(6, 70, 145);
                    background-color: rgb(0, 102, 255);
                    background-image: linear-gradient(to top, rgba(0, 140, 255, 0.699) 5%, rgb(0, 102, 255));

                    .SectionShoppingCart__Text{
                        font-size: 40px;
                        text-align: center;
                        margin-top: 18px;
                        font-family: "FontT";
                        color: white;
                    }
                }
            }
            //============ ContentFlex ============


            //============ TableShoppingCart ============
            .rowShoppingCart__TableShoppingCart{
                height: 50px;
                width: 100%;
                //display: flex;
                //justify-content: space-around;
                background-color: rgb(255, 255, 255);
                border-width: 3px 0px 3px 0px;
                border-color: black;
                border-style: solid;
                margin-top: 10px;
                display: grid;
                grid-template-areas: 
                " TableShoppingCart__Section1 TableShoppingCart__Section2 TableShoppingCart__Section3 TableShoppingCart__Section4";
                grid-template-columns: 1fr 1fr 1fr 1fr; 

                .TableShoppingCart__Section1{
                    grid-area: TableShoppingCart__Section1;
                    background-color: rgba(0, 255, 255, 0);

                    .TableShoppingCart__Text{
                        font-size: 25px;
                        font-family: "FontT";
                        margin-top: 10px;
                        text-align: center;
                    }
                }

                .TableShoppingCart__Section2{
                    grid-area: TableShoppingCart__Section2;
                    background-color: rgba(0, 89, 255, 0);

                    .TableShoppingCart__Text{
                        font-size: 25px;
                        font-family: "FontT";
                        margin-top: 10px;
                        text-align: center;
                    }
                }

                .TableShoppingCart__Section3{
                    grid-area: TableShoppingCart__Section3;
                    background-color: rgba(0, 255, 255, 0);

                    .TableShoppingCart__Text{
                        font-size: 25px;
                        font-family: "FontT";
                        margin-top: 10px;
                        text-align: center;
                    }
                }

                .TableShoppingCart__Section4{
                    grid-area: TableShoppingCart__Section4;
                    background-color: rgba(0, 89, 255, 0);

                    .TableShoppingCart__Text{
                        font-size: 25px;
                        font-family: "FontT";
                        margin-top: 10px;
                        text-align: center;
                    }
                }
            }
            //============ TableShoppingCart ============


            //============ TableProducts ============
            .rowShoppingCart__TableProducts{
                height: 300px;
                width: 100%;
                background-color: rgba(128, 128, 128, 0.699);
                display: grid;
                grid-template-areas: 
                " TableProducts__Row1 TableProducts__Row1"
                " TableProducts__Row2 TableProducts__Row2"
                " TableProducts__Row3 TableProducts__Row3"
                " TableProducts__Row4 TableProducts__Row4"
                " TableProducts__Row5 TableProducts__Row5"
                " TableProducts__RowPrice TableProducts__RowPrice";
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
                
                //============ Row1 ============
                .TableProducts__Row1{
                    grid-area: TableProducts__Row1;
                    background-color: map-get($Spaces, RowTable1);
                    background-color: rgb(255, 255, 255);
                    @include BordersTable;
                    display: grid;
                    grid-template-areas: 
                    " Row1__Column1 Row1__Column2 Row1__Column3 Row1__Column4";
                    grid-template-columns: 1fr 1fr 1fr 1fr; 

                    .Row1__Column1{
                        grid-area: Row1__Column1;
                        //height: 50px;
                        background-color: rgb(209, 209, 209);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row1__Column2{
                        grid-area: Row1__Column2;
                        background-color: rgb(151, 150, 150);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row1__Column3{
                        grid-area: Row1__Column3;
                        background-color: rgb(209, 209, 209);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row1__Column4{
                        grid-area: Row1__Column4;
                        background-color: rgb(151, 150, 150);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }
                }
                //============ Row1 ============


                //============ Row2 ============
                .TableProducts__Row2{
                    grid-area: TableProducts__Row2;
                    @include BordersTable;
                    background-color: map-get($Spaces, RowTable2);
                    display: grid;
                    grid-template-areas: 
                    " Row2__Column1 Row2__Column2 Row2__Column3 Row2__Column4";
                    grid-template-columns: 1fr 1fr 1fr 1fr; 

                    .Row2__Column1{
                        grid-area: Row2__Column1;
                        background-color: rgb(209, 209, 209);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row2__Column2{
                        grid-area: Row2__Column2;
                        background-color: rgb(151, 150, 150);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row2__Column3{
                        grid-area: Row2__Column3;
                        background-color: rgb(209, 209, 209);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row2__Column4{
                        grid-area: Row2__Column4;
                        background-color: rgb(151, 150, 150);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }
                }
                //============ Row2 ============


                //============ Row3 ============
                .TableProducts__Row3{
                    grid-area: TableProducts__Row3;
                    @include BordersTable;
                    background-color: map-get($Spaces, RowTable1);
                    display: grid;
                    grid-template-areas: 
                    " Row3__Column1 Row3__Column2 Row3__Column3 Row3__Column4";
                    grid-template-columns: 1fr 1fr 1fr 1fr;  

                    .Row3__Column1{
                        grid-area: Row3__Column1;
                        background-color: rgb(209, 209, 209);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row3__Column2{
                        grid-area: Row3__Column2;
                        background-color: rgb(151, 150, 150);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row3__Column3{
                        grid-area: Row3__Column3;
                        background-color: rgb(209, 209, 209);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row3__Column4{
                        grid-area: Row3__Column4;
                        background-color: rgb(151, 150, 150);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }
                }
                //============ Row3 ============


                //============ Row4 ============
                .TableProducts__Row4{
                    grid-area: TableProducts__Row4;
                    @include BordersTable;
                    background-color: map-get($Spaces, RowTable2);
                    display: grid;
                    grid-template-areas: 
                    " Row4__Column1 Row4__Column2 Row4__Column3 Row4__Column4";
                    grid-template-columns: 1fr 1fr 1fr 1fr;

                    .Row4__Column1{
                        grid-area: Row4__Column1;
                        background-color: rgb(209, 209, 209);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row4__Column2{
                        grid-area: Row4__Column2;
                        background-color: rgb(151, 150, 150);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row4__Column3{
                        grid-area: Row4__Column3;
                        background-color: rgb(209, 209, 209);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row4__Column4{
                        grid-area: Row4__Column4;
                        background-color: rgb(151, 150, 150);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }
                }
                //============ Row4 ============


                //============ Row5 ============
                .TableProducts__Row5{
                    grid-area: TableProducts__Row5;
                    @include BordersTable;
                    background-color: map-get($Spaces, RowTable1);
                    display: grid;
                    grid-template-areas: 
                    " Row5__Column1 Row5__Column2 Row5__Column3 Row5__Column4";
                    grid-template-columns: 1fr 1fr 1fr 1fr; 

                    .Row5__Column1{
                        grid-area: Row5__Column1;
                        background-color: rgb(209, 209, 209);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row5__Column2{
                        grid-area: Row5__Column2;
                        background-color: rgb(151, 150, 150);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row5__Column3{
                        grid-area: Row5__Column3;
                        background-color: rgb(209, 209, 209);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }

                    .Row5__Column4{
                        grid-area: Row5__Column4;
                        background-color: rgb(151, 150, 150);

                        .TextTable{
                            font-size: 25px;
                            font-family: "FontT";
                            color: rgb(0, 0, 0);
                            margin-top: 10px;
                            text-align: center;
                        }
                    }
                }
                //============ Row5 ============


                //============ RowPrice ============
                .TableProducts__RowPrice{
                    grid-area: TableProducts__RowPrice;
                    @include BordersTable;
                    background-color: rgb(88, 88, 88);
                    display: grid;
                    grid-template-areas: 
                    " RowPrice__Column1 RowPrice__Column2";
                    grid-template-columns: 1fr 1fr; 

                    .RowPrice__Column1{
                        grid-area: RowPrice__Column1;
                        background-color: rgba(236, 108, 108, 0);

                        .RowPrice__Text{
                            font-size: 25px;
                            font-family: "FontT";
                            color: white;
                            margin-top: 10px;
                            margin-left: 5px;
                        }
                    }

                    .RowPrice__Column2{
                        grid-area: RowPrice__Column2;
                        background-color: rgba(21, 128, 228, 0);

                        .RowPrice__Text{
                            font-size: 25px;
                            font-family: "FontT";
                            color: white;
                            margin-top: 10px;
                            text-align: right;
                            margin-right: 20px;
                        }
                    }
                }
                //============ RowPrice ============
            }
            //============ TableProducts ============
        }

        .RowButton{
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: rgba(255, 0, 0, 0);

            .RowButton__SubmitButton{
                height: 50px;
                width: 200px;
                margin-top: 10px;
                border-radius: 20px;
                background-color: greenyellow;
                transition: all 1s;
                cursor: pointer;

                .ButtonText{
                    font-size: 25px;
                    font-family: "FontT";
                }
            }

            .RowButton__SubmitButton:hover{
                height: 50px;
                width: 200px;
                margin-top: 10px;
                border-radius: 20px;
                background-color: rgb(10, 233, 48);
                cursor: pointer;

                .ButtonText{
                    font-size: 25px;
                    font-family: "FontT";
                }
            }
        }
    //=========== 𝐒𝐡𝐨𝐩𝐩𝐢𝐧𝐠𝐂𝐚𝐫𝐭 ===========
    }

    .Container__row2{
        grid-area: Container__row2;
        background-color: black;

        .row1__LogoFooter{
            height: 75px;
            width: 400px;
            background-image: url("../IMG/LogoFooter.png");
            background-color: rgba(255, 0, 0, 0);
            position: relative;
            left: 10px;
            top: 2px;
        }
    }
}


